/* Safari 11 +  */

#carContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100px;
}
#carousel {
  display: absolute;
  width: 100%;
  -webkit-perspective: 2400px;
  -moz-perspective: 2400px;
  -ms-perspective: 2400px;
  -o-perspective: 2400px;
  perspective: 2400px;
  font-size: 0.8rem;
  color: #13315c;
  font-size: 1.2rem;
  margin-bottom: 3rem;
  margin-top: 70px;
  margin: auto;
}

figure#PROJspinner {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 50% 50% -140px;
  -moz-transform-origin: 50% 50% -140px;
  -ms-transform-origin: 50% 50% -140px;
  -o-transform-origin: 50% 50% -140px;
  /* transform-origin: 50% 50% -140px; */
  transition: 1s;
  height: 400px;
}
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (stroke-color: transparent) {
    figure#PROJspinner {
      -webkit-transform-origin: center;
    }
  }
}

/* Safari 10.1 */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) and (not (stroke-color: transparent)) {
    figure#PROJspinner {
      -webkit-transform-origin: center;
    }
  }
}

/* Safari 6.1-10.0 (not 10.1) */
@media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio:0) {
  @media {
    figure#PROJspinner {
      -webkit-transform-origin: center;
    }
  }
}
#captionContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(36, 49, 58, 0.719);
  border-radius: 20px;
  border: 2px solid #364958;
  padding: 25px;
  margin-top: 0px;
  width: 250px;
}
#captionSubContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #55a8b9;
  border-radius: 20px;
  border: 2px solid #00508a;
  padding: 0px;
  margin-top: 0px;
  width: 230px;
}
#captionSubContainer img {
  max-width: 215px;
  height: auto;
  border-radius: 25px;
  box-shadow: 0px 0px 5px #8c00ff;
  margin: 20px;
}
#captionContainer img:hover {
  box-shadow: 0px 0px 25px #71f075;
  -webkit-transition: all 150ms ease;
  -moz-transition: all 150ms ease;
  -ms-transition: all 150ms ease;
  -o-transition: all 150ms ease;
  transition: all 150ms ease;
}
#captionSubContainer p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 90%;
  padding: 0px;
  line-height: 1.47rem;
  color: #003459;
  margin: 15px;
  height: auto;
  font-size: 1rem;
}
figure#PROJspinner figcaption {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  max-width: 280px;
  position: absolute;
  left: 20%;
  -webkit-transform-origin: 50% 50% -140px;
  -moz-transform-origin: 50% 50% -140px;
  -ms-transform-origin: 50% 50% -140px;
  -o-transform-origin: 50% 50% -140px;
  /* transform-origin: 50% 50% -140px; */
  outline: 1px solid transparent;
}

figure#PROJspinner figcaption:nth-child(1) {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
}
figure#PROJspinner figcaption:nth-child(2) {
  transform: rotateY(-60deg);
  -webkit-transform: rotateY(-60deg);
}
figure#PROJspinner figcaption:nth-child(3) {
  transform: rotateY(-120deg);
  -webkit-transform: rotateY(-120deg);
}
figure#PROJspinner figcaption:nth-child(4) {
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
}
figure#PROJspinner figcaption:nth-child(5) {
  transform: rotateY(-240deg);
  -webkit-transform: rotateY(-240deg);
}
figure#PROJspinner figcaption:nth-child(6) {
  transform: rotateY(-300deg);
  -webkit-transform: rotateY(-300deg);
}
.buttonsContainer {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  margin-top: -500px;
}
.ss-icon {
  position: fixed;
  color: #71f075;
  display: inline-block;
  text-decoration: none;
  font-size: 3.5rem;
  transition: 0.6s color;
  position: relative;
  margin: none;
  margin-top: 0px;
  border-bottom: none;
  line-height: 0;
}

.ss-icon:hover {
  color: #71f075;
  cursor: pointer;
}
@media screen and (min-width: 360px) {
  #carContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100px;
  }
  #carousel {
    display: absolute;
    width: 100%;
    -webkit-perspective: 2400px;
    -moz-perspective: 2400px;
    -ms-perspective: 2400px;
    -o-perspective: 2400px;
    perspective: 2400px;
    font-size: 0.8rem;
    color: #13315c;
    font-size: 1.2rem;
    margin-bottom: 3rem;
    margin-top: 70px;
    margin: auto;
  }

  figure#PROJspinner {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50% -140px;
    -moz-transform-origin: 50% 50% -140px;
    -ms-transform-origin: 50% 50% -140px;
    -o-transform-origin: 50% 50% -140px;
    /* transform-origin: 50% 50% -140px; */
    transition: 1s;
    height: 400px;
  }
  /* Safari 11 +  */
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
      figure#PROJspinner {
        -webkit-transform-origin: center;
      }
    }
  }

  /* Safari 10.1 */
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) and (not (stroke-color: transparent)) {
      figure#PROJspinner {
        -webkit-transform-origin: center;
      }
    }
  }

  /* Safari 6.1-10.0 (not 10.1) */
  @media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio:0) {
    @media {
      figure#PROJspinner {
        -webkit-transform-origin: center;
      }
    }
  }
  #captionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(36, 49, 58, 0.719);
    border-radius: 20px;
    border: 2px solid #364958;
    padding: 25px;
    margin-top: 0px;
    width: 250px;
  }
  #captionSubContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #55a8b9;
    border-radius: 20px;
    border: 2px solid #00508a;
    padding: 0px;
    margin-top: 0px;
    width: 230px;
  }
  #captionSubContainer img {
    max-width: 215px;
    height: auto;
    border-radius: 25px;
    box-shadow: 0px 0px 5px #8c00ff;
    margin: 20px;
  }
  #captionSubContainer p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 0px;
    line-height: 1.47rem;
    color: #003459;
    margin: 15px;
    height: auto;
    font-size: 1rem;
  }
  figure#PROJspinner figcaption {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 280px;
    position: absolute;
    left: 20%;
    -webkit-transform-origin: 50% 50% -140px;
    -moz-transform-origin: 50% 50% -140px;
    -ms-transform-origin: 50% 50% -140px;
    -o-transform-origin: 50% 50% -140px;
    /* transform-origin: 50% 50% -140px; */
    outline: 1px solid transparent;
  }

  figure#PROJspinner figcaption:nth-child(1) {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
  }
  figure#PROJspinner figcaption:nth-child(2) {
    transform: rotateY(-60deg);
    -webkit-transform: rotateY(-60deg);
  }
  figure#PROJspinner figcaption:nth-child(3) {
    transform: rotateY(-120deg);
    -webkit-transform: rotateY(-120deg);
  }
  figure#PROJspinner figcaption:nth-child(4) {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
  }
  figure#PROJspinner figcaption:nth-child(5) {
    transform: rotateY(-240deg);
    -webkit-transform: rotateY(-240deg);
  }
  figure#PROJspinner figcaption:nth-child(6) {
    transform: rotateY(-300deg);
    -webkit-transform: rotateY(-300deg);
  }

  .buttonsContainer {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 350px;
  }
  .ss-icon {
    position: fixed;
    color: #71f075;
    display: inline-block;
    text-decoration: none;
    font-size: 3.5rem;
    transition: 0.6s color;
    position: relative;
    margin: none;
    margin-top: 0px;
    border-bottom: none;
    line-height: 0;
  }
  .ss-icon:hover {
    color: #71f075;
    cursor: pointer;
  }
}
@media screen and (min-width: 400px) {
  #carContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100px;
  }
  #carousel {
    display: absolute;
    width: 100%;
    -webkit-perspective: 2400px;
    -moz-perspective: 2400px;
    -ms-perspective: 2400px;
    -o-perspective: 2400px;
    perspective: 2400px;
    font-size: 0.8rem;
    color: #13315c;
    font-size: 1.2rem;
    margin-bottom: 3rem;
    margin-top: 70px;
    margin: auto;
  }

  figure#PROJspinner {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50% -140px;
    -moz-transform-origin: 50% 50% -140px;
    -ms-transform-origin: 50% 50% -140px;
    -o-transform-origin: 50% 50% -140px;
    /* transform-origin: 50% 50% -140px; */
    transition: 1s;
    height: 400px;
  }
  /* Safari 11 +  */
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
      figure#PROJspinner {
        -webkit-transform-origin: center;
      }
    }
  }

  /* Safari 10.1 */
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) and (not (stroke-color: transparent)) {
      figure#PROJspinner {
        -webkit-transform-origin: center;
      }
    }
  }

  /* Safari 6.1-10.0 (not 10.1) */
  @media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio:0) {
    @media {
      figure#PROJspinner {
        -webkit-transform-origin: center;
      }
    }
  }
  #captionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(36, 49, 58, 0.719);
    border-radius: 20px;
    border: 2px solid #364958;
    padding: 25px;
    margin-top: 0px;
    width: 250px;
  }
  #captionSubContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #55a8b9;
    border-radius: 20px;
    border: 2px solid #00508a;
    padding: 0px;
    margin-top: 0px;
    width: 230px;
  }
  #captionSubContainer img {
    max-width: 215px;
    height: auto;
    border-radius: 25px;
    box-shadow: 0px 0px 5px #8c00ff;
    margin: 20px;
  }
  #captionSubContainer p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 0px;
    line-height: 1.47rem;
    color: #003459;
    margin: 15px;
    height: auto;
    font-size: 1rem;
  }
  figure#PROJspinner figcaption {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 280px;
    position: absolute;
    left: 20%;
    /* transform-origin: 50% 50% -140px; */
    outline: 1px solid transparent;
  }
  figure#PROJspinner figcaption:nth-child(1) {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
  }
  figure#PROJspinner figcaption:nth-child(2) {
    transform: rotateY(-60deg);
    -webkit-transform: rotateY(-60deg);
  }
  figure#PROJspinner figcaption:nth-child(3) {
    transform: rotateY(-120deg);
    -webkit-transform: rotateY(-120deg);
  }
  figure#PROJspinner figcaption:nth-child(4) {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
  }
  figure#PROJspinner figcaption:nth-child(5) {
    transform: rotateY(-240deg);
    -webkit-transform: rotateY(-240deg);
  }
  figure#PROJspinner figcaption:nth-child(6) {
    transform: rotateY(-300deg);
    -webkit-transform: rotateY(-300deg);
  }

  .buttonsContainer {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 380px;
  }
  .ss-icon {
    position: fixed;
    color: #13315c;
    display: inline-block;
    text-decoration: none;
    font-size: 3.5rem;
    transition: 0.6s color;
    position: relative;
    margin: none;
    margin-top: 0px;
    border-bottom: none;
    line-height: 0;
  }

  .ss-icon:hover {
    color: #71f075;
    cursor: pointer;
  }
}
@media screen and (min-width: 600px) {
  #carContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 700px;
  }
  #carousel {
    display: absolute;
    width: 100%;
    -webkit-perspective: 1200px;
    -moz-perspective: 1200px;
    -ms-perspective: 1200px;
    -o-perspective: 1200px;
    perspective: 1200px;
    font-size: 0.8rem;
    color: #13315c;
    font-size: 1.2rem;
    margin-bottom: 3rem;
    margin-top: 70px;
    margin: auto;
  }

  figure#PROJspinner {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50% -200px;
    -moz-transform-origin: 50% 50% -200px;
    -ms-transform-origin: 50% 50% -200px;
    -o-transform-origin: 50% 50% -200;
    /* transform-origin: 50% 50% -200px; */
    transition: 1s;
    height: 1000px;
  }
  /* Safari 11 +  */
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
      figure#PROJspinner {
        -webkit-transform-origin: center;
      }
    }
  }

  /* Safari 10.1 */
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) and (not (stroke-color: transparent)) {
      figure#PROJspinner {
        -webkit-transform-origin: center;
      }
    }
  }

  /* Safari 6.1-10.0 (not 10.1) */
  @media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio:0) {
    @media {
      figure#PROJspinner {
        -webkit-transform-origin: center;
      }
    }
  }
  #captionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(36, 49, 58, 0.719);
    border-radius: 20px;
    border: 2px solid #364958;
    padding: 25px;
    margin-top: 0px;
    width: 250px;
  }
  #captionSubContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #55a8b9;
    border-radius: 20px;
    border: 2px solid #00508a;
    padding: 0px;
    margin-top: 0px;
    width: 230px;
  }
  #captionSubContainer img {
    max-width: 215px;
    height: auto;
    border-radius: 25px;
    box-shadow: 0px 0px 5px #8c00ff;
    margin: 20px;
  }
  #captionSubContainer p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 0px;
    line-height: 1.47rem;
    color: #003459;
    margin: 15px;
    height: auto;
    font-size: 1rem;
  }
  figure#PROJspinner figcaption {
    width: 100%;

    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50% -200px;
    -o-transform-origin: 50% 50% -200;
    /* transform-origin: 50% 50% -200px; */
    outline: 1px solid transparent;
  }
  figure#PROJspinner figcaption:nth-child(1) {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
  }
  figure#PROJspinner figcaption:nth-child(2) {
    transform: rotateY(-60deg);
    -webkit-transform: rotateY(-60deg);
  }
  figure#PROJspinner figcaption:nth-child(3) {
    transform: rotateY(-120deg);
    -webkit-transform: rotateY(-120deg);
  }
  figure#PROJspinner figcaption:nth-child(4) {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
  }
  figure#PROJspinner figcaption:nth-child(5) {
    transform: rotateY(-240deg);
    -webkit-transform: rotateY(-240deg);
  }
  figure#PROJspinner figcaption:nth-child(6) {
    transform: rotateY(-300deg);
    -webkit-transform: rotateY(-300deg);
  }
  .buttonsContainer {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 600px;
  }
  .ss-icon {
    position: fixed;
    color: #13315c;
    display: inline-block;
    text-decoration: none;
    font-size: 5rem;
    transition: 0.6s color;
    position: relative;
    margin: none;
    margin-top: 0px;
    border-bottom: none;
    line-height: 0;
  }
  .ss-icon:hover {
    color: #71f075;
    cursor: pointer;
  }
}
@media screen and (min-width: 1024px) {
  #carContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
  }
  #carousel {
    display: absolute;
    width: 100%;
    -webkit-perspective: 1600px;
    -moz-perspective: 1600px;
    -ms-perspective: 1600px;
    -o-perspective: 1600px;
    perspective: 1600px;
    font-size: 0.8rem;
    color: #13315c;
    font-size: 1.2rem;
    margin-bottom: 3rem;
  }

  figure#PROJspinner {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50% -400px;
    -moz-transform-origin: 50% 50% -400px;
    -ms-transform-origin: 50% 50% -400px;
    -o-transform-origin: 50% 50% -400px;
    /* transform-origin: 50% 50% -400px; */
    transition: 1s;
    height: 1000px;
  }
  /* Safari 11 +  */
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) and (stroke-color: transparent) {
      figure#PROJspinner {
        -webkit-transform-origin: center;
      }
    }
  }

  /* Safari 10.1 */
  @media not all and (min-resolution: 0.001dpcm) {
    @supports (-webkit-appearance: none) and (not (stroke-color: transparent)) {
      figure#PROJspinner {
        -webkit-transform-origin: center;
      }
    }
  }

  /* Safari 6.1-10.0 (not 10.1) */
  @media screen and (min-color-index: 0) and(-webkit-min-device-pixel-ratio:0) {
    @media {
      figure#PROJspinner {
        -webkit-transform-origin: center;
      }
    }
  }
  #captionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(36, 49, 58, 0.719);
    border-radius: 20px;
    border: 2px solid #364958;
    padding: 25px;
    margin-top: 0px;
    width: 400px;
  }
  #captionSubContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #55a8b9;
    border-radius: 20px;
    border: 2px solid #00508a;
    padding: 0px;
    margin-top: 0px;
    width: 100%;
  }
  #captionSubContainer p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 0px;
    line-height: 1.47rem;
    color: #003459;
    margin: 25px;
    height: auto;
    font-size: 1rem;
  }
  figure#PROJspinner figcaption {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    max-width: 400px;
    position: absolute;
    left: 20%;
    -webkit-transform-origin: 50% 50% -400px;
    -moz-transform-origin: 50% 50% -400px;
    -ms-transform-origin: 50% 50% -400px;
    -o-transform-origin: 50% 50% -400px;
    /* transform-origin: 50% 50% -400px; */
    outline: 1px solid transparent;
  }

  figure#PROJspinner figcaption:nth-child(1) {
    transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
  }
  figure#PROJspinner figcaption:nth-child(2) {
    transform: rotateY(-60deg);
    -webkit-transform: rotateY(-60deg);
  }
  figure#PROJspinner figcaption:nth-child(3) {
    transform: rotateY(-120deg);
    -webkit-transform: rotateY(-120deg);
  }
  figure#PROJspinner figcaption:nth-child(4) {
    transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
  }
  figure#PROJspinner figcaption:nth-child(5) {
    transform: rotateY(-240deg);
    -webkit-transform: rotateY(-240deg);
  }
  figure#PROJspinner figcaption:nth-child(6) {
    transform: rotateY(-300deg);
    -webkit-transform: rotateY(-300deg);
  }
  .buttonsContainer {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    margin-top: -800px;
  }
  .ss-icon {
    position: fixed;
    color: #13315c;
    display: inline-block;
    text-decoration: none;
    font-size: 5rem;
    transition: 0.6s color;
    position: relative;
    margin: 10px;
    margin-top: 0px;
    border-bottom: none;
    line-height: 0;
  }

  .ss-icon:hover {
    color: #71f075;
    cursor: pointer;
  }
}
